<div class="px-3 py-1 text-right">
  {{#if session.isAuthenticated}}
    {{#if currentUser.user }}
      Signed in as {{ currentUser.user.login }}, {{ currentUser.user.fullName }}
    {{/if}}
    <button type="submit" {{action 'logOut'}}>Log Out</button>
  {{else}}
    <button type="submit" {{action 'logIn'}}>Log In</button>
  {{/if}}
</div>
<div class="px-3">
  {{outlet}}
</div>
