<div class="px-4 py-4">
  <ChangesetForm @changeset={{this.changeset}} as |Form changeset|>
    <div class="flex mb-4">
      <div class="flex justify-end w-1/12 h-auto mr-6">
        <!-- close button -->
        <LinkTo @route="network" class="h-6">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>
        </LinkTo>
      </div>
      <div class="w-6/12 px-4">
        <!-- node path -->
        <p class="mb-4 text-gray-500">{{changeset.path}}</p>
        <!-- node country -->
        <div class="mb-4 form-tooltip">
          <span class="mr-5 tooltip-text">Country</span>
          <Form.Select @fieldName="country" @placeholder="Country" @options={{this.options.countries}}
            @containerClass="mt-4" as |country|>
            {{country}}
          </Form.Select>
        </div>
        <!-- node name -->
        <div class="form-tooltip">
          <span class="tooltip-text">Název</span>
          <Form.Input @fieldName="name" placeholder="Název" />
        </div>
        <!-- node type -->
        <div class="form-tooltip">
          <span class="mr-5 tooltip-text">Typ</span>
          <Form.Select @fieldName="type" @placeholder="Typ" @options={{this.options.types}} @containerClass="mt-4" as
            |type|>
            {{type}}
          </Form.Select>
        </div>
        <!-- node master -->
        <div class="flex flex-row -ml-8">
          <div class="self-center flex-none mt-4 mr-2">
            <svg class="w-6 h-6 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-auto form-tooltip">
            <span class="mt-4 mr-5 tooltip-text">Master</span>
            <Form.Select @fieldName="master" @placeholder="Master" @options={{this.options.masters}}
              @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
              @containerClass="mt-4" as |master|>
              {{master}}
            </Form.Select>
          </div>
        </div>
        <!-- node linkTo -->
        <div class="flex flex-row -ml-8">
          <div class="self-center flex-none mt-4 mr-2">
            <svg class="w-6 h-6 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-auto form-tooltip">
            <span class="mt-4 mr-5 tooltip-text">Link to</span>
            <Form.Select @fieldName="linkTo" @placeholder="Link to" @options={{this.options.links}}
              @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
              @containerClass="mt-4" as |linkTo|>
              {{linkTo}}
            </Form.Select>
          </div>
        </div>
        <!-- node area -->
        <div class="flex flex-row -ml-8">
          <div class="self-center flex-none mt-4 mr-2">
            <svg class="w-6 h-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </div>
          <div class="flex-auto form-tooltip">
            <span class="mt-4 mr-5 tooltip-text">Area</span>
            <Form.Select @fieldName="area" @placeholder="Area" @options={{this.options.areas}} @searchEnabled={{true}}
              @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}} @containerClass="mt-4" as
              |area|>
              {{area}}
            </Form.Select>
          </div>
        </div>
        <!-- node vendor -->
        <div class="form-tooltip">
          <span class="mr-5 tooltip-text">Vendor</span>
          <Form.Select @fieldName="vendor" @placeholder="Vendor" @options={{this.options.vendors}}
            @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
            @containerClass="mt-4" as |vendor|>
            {{vendor}}
          </Form.Select>
        </div>
        <!-- node model -->
        <div class="form-tooltip">
          <span class="mr-5 tooltip-text">Model</span>
          <Form.Select @fieldName="model" @placeholder="Model" @options={{this.options.models}} @searchEnabled={{true}}
            @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}} @containerClass="mt-4" as
            |model|>
            {{model}}
          </Form.Select>
        </div>
        <!-- node info -->
        <div class="form-tooltip">
          <span class="mt-4 tooltip-text">Poznámka</span>
          <Form.Input @fieldName="info" placeholder="Poznámka" class="mt-4" />
        </div>
        <!-- node monitoring -->
        <div class="form-tooltip">
          <span class="mr-5 tooltip-text">Monitoring</span>
          <Form.Select @fieldName="monitoring" @placeholder="Monitoring" @options={{this.options.monitoringTypes}}
            @containerClass="mt-4" as |monitoring|>
            {{monitoring}}
          </Form.Select>
        </div>
        {{#if this.isWireless }}
          <!-- node polarization -->
          <div class="flex flex-row -ml-8">
            <div class="self-center flex-none mt-4 mr-2">
              <svg class="w-6 h-6 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M17.778 8.222c-4.296-4.296-11.26-4.296-15.556 0A1 1 0 01.808 6.808c5.076-5.077 13.308-5.077 18.384 0a1 1 0 01-1.414 1.414zM14.95 11.05a7 7 0 00-9.9 0 1 1 0 01-1.414-1.414 9 9 0 0112.728 0 1 1 0 01-1.414 1.414zM12.12 13.88a3 3 0 00-4.242 0 1 1 0 01-1.415-1.415 5 5 0 017.072 0 1 1 0 01-1.415 1.415zM9 16a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="flex-auto form-tooltip">
              <span class="mt-4 mr-5 tooltip-text">Polarization</span>
              <Form.Select @fieldName="polarization" @placeholder="Polarization" @options={{this.options.polarizations}}
                @containerClass="mt-4" as |polarization|>
                {{polarization}}
              </Form.Select>
            </div>
          </div>
          <!-- node channel width -->
          <div class="form-tooltip">
            <span class="mr-5 tooltip-text">Channel width</span>
            <Form.Select @fieldName="width" @placeholder="Channel width" @options={{this.options.channelWidths}}
              @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
              @containerClass="mt-4 mb-4" as |width|>
              {{width}}
            </Form.Select>
          </div>
          <!-- node norm -->
          <div class="form-tooltip">
            <span class="mr-5 tooltip-text">Norm</span>
            <Form.Select @fieldName="norm" @placeholder="Norm" @options={{this.options.norms}} @searchEnabled={{true}}
              @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}} @containerClass="mt-4 mb-4"
              as |norm|>
              {{norm}}
            </Form.Select>
          </div>
          <!-- node TDMA -->
          <Form.Checkbox @fieldName="tdma" @label="TDMA" class="mb-4" />
          <!-- node aggregation -->
          <Form.Checkbox @fieldName="aggregation" @label="Aggregation" class="mb-4" />
          <!-- node SSID -->
          <div class="form-tooltip">
            <span class="tooltip-text">SSID</span>
            <Form.Input @fieldName="ssid" placeholder="SSID" class="mb-4" />
          </div>
          <!-- node frequency -->
          <div class="form-tooltip">
            <span class="mr-5 tooltip-text">Frequency</span>
            <Form.Select @fieldName="frequency" @placeholder="Frequency" @options={{this.options.frequencies}}
              @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
              @containerClass="mb-4" as |frequency|>
              {{frequency}}
            </Form.Select>
          </div>
          <!-- node power -->
          <div class="form-tooltip">
            <span class="tooltip-text">Power</span>
            <Form.Input @fieldName="power" placeholder="Power" class="mb-4" />
          </div>
          <!-- node antenna -->
          <div class="form-tooltip">
            <span class="tooltip-text">Antenna</span>
            <Form.Input @fieldName="antenna" placeholder="Antenna" class="mb-4" />
          </div>
          <!-- node WDS -->
          <Form.Checkbox @fieldName="wds" @label="WDS" />
          <!-- node authentication -->
          <div class="form-tooltip">
            <span class="mr-5 tooltip-text">Authentication</span>
            <Form.Select @fieldName="authentication" @placeholder="Authentication"
              @options={{this.options.authentications}} @containerClass="mt-4 mb-4" as |authentication|>
              {{authentication}}
            </Form.Select>
          </div>
          <!-- node azimuth -->
          <div class="form-tooltip">
            <span class="tooltip-text">Azimuth</span>
            <Form.Input @fieldName="azimuth" placeholder="Azimuth" class="mb-4" />
          </div>
          <!-- node active -->
          <Form.Checkbox @fieldName="active" @label="Active" />
        {{/if}}
        <div id="action-buttons" class="flex justify-end mt-6">
          <!-- delete -->
          {{#if (and changeset.id (not this.args.children))}}
            <Button @intent="danger" @appearance="outlined" {{on 'click' (fn this.openDeleteConfirmation)}}
              class="mr-3">Smazat</Button>
          {{/if}}
          <!-- submit -->
          <Button @intent="primary" type="submit" {{on 'click' (fn this.submit)}}>Uložit</Button>
        </div>
      </div>
      <div class="flex flex-col justify-between w-4/12 ml-4">
        <div id="node-children">
          {{#if this.args.children}}
            <p class="text-gray-500">Připojené prvky</p>
            <ul>
              {{#each this.args.children as |child|}}
                <li>{{child.name}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>
  </ChangesetForm>
  <Modal @isOpen={{this.confirmingDeletion}} @onClose={{this.closeDeleteConfirmation}} as |m|>
    <m.Header>Potvrzení...</m.Header>
    <m.Body>
      Smazat síťový prvek '{{this.changeset.name}}'?
    </m.Body>
    <m.Footer>
      <Button @appearance="minimal" {{on 'click' this.closeDeleteConfirmation}}>Zrušit</Button>
      <Button @intent="danger" {{on 'click' this.delete}}>Smazat</Button>
    </m.Footer>
  </Modal>
</div>
