<div class="px-4 py-4">
  <ChangesetForm @changeset={{this.changeset}} as |Form changeset|>
    <div class="flex mb-4">
      <div class="flex justify-end w-1/12 h-auto mr-6">
        <LinkTo @route="network" class="h-6">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg></LinkTo>
      </div>
      <div class="w-6/12 px-4">
        <p class="mb-2 text-gray-500">{{changeset.path}}</p>
        <Form.Input @fieldName="name" placeholder="Název" />
        <Form.Select @fieldName="type" @placeholder="Typ" @options={{this.types}} @containerClass="mt-4" as |type|>
          {{type}}
        </Form.Select>
        <Form.Select @fieldName="master" @placeholder="Master" @options={{this.masters}} @searchEnabled={{true}}
          @noMatchesMessage="Nenalezeno..." @containerClass="mt-4" as |master|>
          {{master}}
        </Form.Select>
        <Form.Select @fieldName="linkTo" @placeholder="Link to" @options={{this.links}} @searchEnabled={{true}}
          @noMatchesMessage="Nenalezeno..." @containerClass="mt-4" as |linkTo|>
          {{linkTo}}
        </Form.Select>
        <Form.Select @fieldName="area" @placeholder="Area" @options={{this.areas}} @searchEnabled={{true}}
          @noMatchesMessage="Nenalezeno..." @containerClass="mt-4" as |area|>
          {{area}}
        </Form.Select>
        <Form.Select @fieldName="vendor" @placeholder="Vendor" @options={{this.vendors}} @searchEnabled={{true}}
          @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}} @containerClass="mt-4" as
          |vendor|>
          {{vendor}}
        </Form.Select>
        <Form.Select @fieldName="model" @placeholder="Model" @options={{this.models}} @searchEnabled={{true}}
          @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}} @containerClass="mt-4" as
          |model|>
          {{model}}
        </Form.Select>
        <Form.Input @fieldName="info" placeholder="Poznámka" class="mt-4" />
        <Form.Select @fieldName="monitoring" @placeholder="Monitoring" @options={{this.monitorings}}
          @containerClass="mt-4 mb-4" as |monitoring|>
          {{monitoring}}
        </Form.Select>
        {{#if this.isWireless }}
          <Form.Select @fieldName="polarization" @placeholder="Polarization" @options={{this.polarizations}}
            @containerClass="mt-4 mb-4" as |polarization|>
            {{polarization}}
          </Form.Select>
          <Form.Select @fieldName="width" @placeholder="Channel width" @options={{this.channelWidths}}
            @containerClass="mt-4 mb-4" as |width|>
            {{width}}
          </Form.Select>
          <Form.Select @fieldName="norm" @placeholder="Norm" @options={{this.norms}} @containerClass="mt-4 mb-4" as
            |norm|>
            {{norm}}
          </Form.Select>
          <Form.Checkbox @fieldName="tdma" @label="TDMA" class="mb-4" />
          <Form.Checkbox @fieldName="aggregation" @label="Aggregation" class="mb-4" />
          <Form.Input @fieldName="ssid" placeholder="SSID" class="mb-4" />
          <Form.Select @fieldName="frequency" @placeholder="Frequency" @options={{this.frequencies}}
            @searchEnabled={{true}} @noMatchesMessage="Přidat... (Enter)" @onKeydown={{this.selectNotFoundValue}}
            @containerClass="mb-4" as |frequency|>
            {{frequency}}
          </Form.Select>
          <Form.Input @fieldName="power" placeholder="Power" class="mb-4" />
          <Form.Input @fieldName="antenna" placeholder="Antenna" class="mb-4" />
          <Form.Checkbox @fieldName="wds" @label="WDS" class="mb-4" />
          <Form.Select @fieldName="authorization" @placeholder="Authorization" @options={{this.authorizations}}
            @containerClass="mt-4 mb-4" as |authorization|>
            {{authorization}}
          </Form.Select>
          <Form.Input @fieldName="azimuth" placeholder="Azimuth" class="mb-4" />
          <Form.Checkbox @fieldName="active" @label="Active" />
        {{/if}}
      </div>
      <div class="w-4/12 ml-4">
        <Button @intent="primary" type="submit" {{on 'click' (fn this.submit)}}>Submit</Button>
        <p>Changeset:
        <pre>{{this.changesetJson}}</pre>
        </p>
        <p>Errors:
        <pre>{{ this.errorsJson}}</pre>
        </p>
      </div>
    </div>
  </ChangesetForm>
</div>
