{{#if this.answer}}
<ul>
  <li class="flex px-1 py-2 border-b border-gray-400 border-solid">
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Country</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Name</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Vendor</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Model</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Link to</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Frequency</span>
    <span class="flex-1 px-1 text-xs font-medium text-gray-600 uppercase">Actions</span>
  </li>
  {{#each this.answer as |node|}}
  <li class="flex px-1 py-2 border-b border-gray-400 border-solid cursor-pointer hover:bg-gray-100">
    <LinkTo @route="network.node" @model="{{node.name}}">
      <span class="flex-1 px-1">{{node.country}}</span>
      <a href="javascript:" class="flex-1 px-1 text-blue-600 cursor-pointer"
        {{on 'click' (fn this.findLinkTo node.name)}}>{{node.name}}</a>
      <span class="flex-1 px-1">{{node.vendor}}</span>
      <span class="flex-1 px-1 text-sm">{{node.model}}</span>
      <a href="javascript:" class="flex-1 px-1 text-blue-600 cursor-pointer"
        {{on 'click' (fn this.findName node.linkTo)}}>{{node.linkTo}}</a>
      <span class="flex-1 px-1">{{node.frequency}}</span>
      <span class="flex-1 px-1">lan, backup</span>
    </LinkTo>
  </li>
  {{/each}}
</ul>
{{else}}
<p>Nebyl nalezen žáden záznam.</p>
{{/if}}
