{{#if this.answer}}
<ul>
  <li class="flex px-1 py-2 border-b border-gray-400 border-solid">
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">Name</span>
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">Vendor</span>
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">Model</span>
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">Link to</span>
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">RSTP Num Ring</span>
    <span class="flex-1 px-1 text-xs text-gray-600 uppercase font-medium">Detail</span>
  </li>
  {{#each this.answer as |node|}}
  <li class="flex px-1 py-2 border-b border-gray-400 border-solid">
    <span class="flex-1 px-1 text-lg">{{node.name}}</span>
    <span class="flex-1 px-1">{{node.vendor}}</span>
    <span class="flex-1 px-1 text-sm">{{node.model}}</span>
    <span class="flex-1 px-1">{{node.linkTo}}</span>
    <span class="flex-1 px-1 text-sm">{{node.rstpNumRing}}</span>
    <span class="flex-1 px-1 text-sm">{{node.backupPath}}</span>
  </li>
  {{/each}}
</ul>
{{else}}
<p>Nebyl nalezen žáden záznam.</p>
{{/if}}