<div class="relative" ...attributes {{ on 'keydown' this.keyPress }}>
  <button type="button" class="relative block text-gray-500 focus:outline-none" {{ on 'click' (toggle 'isOpen' this) }}>
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      {{#if this.isOpen}}
      <path fill-rule="evenodd"
        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
      {{else}}
      <path fill-rule="evenodd"
        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
      {{/if}}
    </svg>
  </button>
  {{#if this.isOpen}}
  <button type="button" class="fixed inset-0 w-full h-full cursor-default" tabindex="-1"
    {{ on 'click' (fn (mut this.isOpen) false) }}></button>
  <div class="absolute right-0 w-32 pt-1 pb-2 mt-1 mr-1 text-sm text-gray-700 bg-white shadow">
    <a href="#" class="inline-block w-full px-4 mt-1 cursor-default hover:bg-gray-200"
      {{ on 'click' (fn (mut this.isOpen) false) }}>
      Domů
    </a>
    <a href="#" class="inline-block w-full px-4 mt-1 cursor-default hover:bg-gray-200"
      {{ on 'click' (fn (mut this.isOpen) false) }}>
      Odhlásit se
    </a>
  </div>
  {{/if}}
</div>
