<EmberWormhole @to="navigation-bar-icons">
  <LinkTo @route="network.node" @model="create">
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
    </svg>
  </LinkTo>
</EmberWormhole>
<div class="px-4">
  {{#if this.hasContent }}
    {{#if this.items }}
      <div class="flex flex-col">
        <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Country
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Name
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Vendor
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Model
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Link to
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                    Frequency
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each this.items as |node index|}}
                  <tr class="{{if (odd index) 'bg-white' 'bg-gray-100'}} cursor-pointer"
                    {{on 'click' (fn this.nodeDetail node.name)}} role="button">
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.country}}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium leading-5 text-gray-700 whitespace-no-wrap">
                      {{node.name}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.vendor}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500">
                      <small>{{node.model}}</small>
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.linkTo}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.frequency}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {{else}}
      <p>Nebyl nalezen žáden záznam.</p>
    {{/if}}
  {{/if}}
</div>
