<EmberWormhole @to="navigation-bar-icons">
  <LinkTo @route="network.node" @model="create">
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
    </svg>
  </LinkTo>
</EmberWormhole>
<div class="px-4">
  {{#if this.hasContent }}
    {{#if this.items }}
      <div class="flex flex-col">
        <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full">
              <thead>
                <tr>
                  <th {{on 'click' (fn this.toggleSortKey 'country' )}}
                    class="{{if (eq this.sortKey 'country') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Country
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'name' )}}
                    class="{{if (eq this.sortKey 'name') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Name
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'vendor' )}}
                    class="{{if (eq this.sortKey 'vendor') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Vendor
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'model' )}}
                    class="{{if (eq this.sortKey 'model') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Model
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'linkTo' )}}
                    class="{{if (eq this.sortKey 'linkTo') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Link to
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'width' )}}
                    class="{{if (eq this.sortKey 'width') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Channel width
                  </th>
                  <th {{on 'click' (fn this.toggleSortKey 'frequency' )}}
                    class="{{if (eq this.sortKey 'frequency') 'text-blue-500'}} px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50 cursor-pointer">
                    Frequency
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each this.items as |node index|}}
                  <tr class="{{if (odd index) 'bg-white' 'bg-gray-100'}} cursor-pointer" {{on 'click' (fn
                    this.nodeDetail node.name)}} role="button">
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.country}}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium leading-5 text-gray-700 whitespace-no-wrap">
                      {{node.name}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.vendor}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500">
                      {{node.model}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.linkTo}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.width}}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap">
                      {{node.frequency}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <p class="pt-2 pl-2 text-right text-gray-400">Nalezeno: {{ this.items.length }}
            {{if (gt this.items.length 4) "záznamů" (if (eq this.items.length 1) "záznam" "záznamy") }}.
          </p>
        </div>
      </div>
    {{else}}
      <p>Nebyl nalezen žáden záznam.</p>
    {{/if}}
  {{else}}
    <pre class="pl-6 text-sm text-gray-400">
      Nápověda k vyhledávání

      Výchozí vyhledávání je podle názvu síťového prvku.
      Název prvku je třeba zadat přesně, np. "polni-25" nebo jde použít hvědičku, np. "polni*".

      Je možné vyhledávání podle jiných sloupců: area, master, link to, vendor nebo country.
      Vyhledávání podle jiného sloupce se zapína písmenkem s tečkou.
      "a.bystrice" najde prvky s area=bystrice, "a.bys*" najde prvky s area začínající na "bys".

      Dotazy lze kombinovat, np. "a.bys* v.ubi*" najde prvnky s area začínající na "bys" a zároveň s vendor
      začínající na "ubi*".

      Podporované sloupce jsou:
      n - název (default není třeba zadávat)
      m - master
      a - area
      l - link to
      v - vendor
      c - country
    </pre>
    <p>
    </p>
  {{/if}}
</div>
